Alcaldia/Connected Services/AMDC_SEFIN_API/AMDC_SEFIN.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://tempuri.org/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Enviar_SEFIN">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="token" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Enviar_SEFINResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Enviar_SEFINResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="Enviar_SEFINSoapIn">
    <wsdl:part name="parameters" element="tns:Enviar_SEFIN" />
  </wsdl:message>
  <wsdl:message name="Enviar_SEFINSoapOut">
    <wsdl:part name="parameters" element="tns:Enviar_SEFINResponse" />
  </wsdl:message>
  <wsdl:portType name="AMDC_SEFINSoap">
    <wsdl:operation name="Enviar_SEFIN">
      <wsdl:input message="tns:Enviar_SEFINSoapIn" />
      <wsdl:output message="tns:Enviar_SEFINSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AMDC_SEFINSoap" type="tns:AMDC_SEFINSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Enviar_SEFIN">
      <soap:operation soapAction="http://tempuri.org/Enviar_SEFIN" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="AMDC_SEFINSoap12" type="tns:AMDC_SEFINSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Enviar_SEFIN">
      <soap12:operation soapAction="http://tempuri.org/Enviar_SEFIN" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AMDC_SEFIN">
    <wsdl:port name="AMDC_SEFINSoap" binding="tns:AMDC_SEFINSoap">
      <soap:address location="http://localhost:50711/AMDC_SEFIN.asmx" />
    </wsdl:port>
    <wsdl:port name="AMDC_SEFINSoap12" binding="tns:AMDC_SEFINSoap12">
      <soap12:address location="http://localhost:50711/AMDC_SEFIN.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>