Alcaldia/Connected Services/AMDC_EMPRESAS_API/AMDC_EMPRESAS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://tempuri.org/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="consultaDeclaracion">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="token" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="consultaDeclaracionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="consultaDeclaracionResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="consultaDeclaracionesTotales">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="token" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="consultaDeclaracionesTotalesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="consultaDeclaracionesTotalesResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CalculaDeclaracionRenta">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="jsonParams" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="token" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CalculaDeclaracionRentaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CalculaDeclaracionRentaResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="consultaDeclaracionSoapIn">
    <wsdl:part name="parameters" element="tns:consultaDeclaracion" />
  </wsdl:message>
  <wsdl:message name="consultaDeclaracionSoapOut">
    <wsdl:part name="parameters" element="tns:consultaDeclaracionResponse" />
  </wsdl:message>
  <wsdl:message name="consultaDeclaracionesTotalesSoapIn">
    <wsdl:part name="parameters" element="tns:consultaDeclaracionesTotales" />
  </wsdl:message>
  <wsdl:message name="consultaDeclaracionesTotalesSoapOut">
    <wsdl:part name="parameters" element="tns:consultaDeclaracionesTotalesResponse" />
  </wsdl:message>
  <wsdl:message name="CalculaDeclaracionRentaSoapIn">
    <wsdl:part name="parameters" element="tns:CalculaDeclaracionRenta" />
  </wsdl:message>
  <wsdl:message name="CalculaDeclaracionRentaSoapOut">
    <wsdl:part name="parameters" element="tns:CalculaDeclaracionRentaResponse" />
  </wsdl:message>
  <wsdl:portType name="AMDC_EMPRESASSoap">
    <wsdl:operation name="consultaDeclaracion">
      <wsdl:input message="tns:consultaDeclaracionSoapIn" />
      <wsdl:output message="tns:consultaDeclaracionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="consultaDeclaracionesTotales">
      <wsdl:input message="tns:consultaDeclaracionesTotalesSoapIn" />
      <wsdl:output message="tns:consultaDeclaracionesTotalesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CalculaDeclaracionRenta">
      <wsdl:input message="tns:CalculaDeclaracionRentaSoapIn" />
      <wsdl:output message="tns:CalculaDeclaracionRentaSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AMDC_EMPRESASSoap" type="tns:AMDC_EMPRESASSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="consultaDeclaracion">
      <soap:operation soapAction="http://tempuri.org/consultaDeclaracion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="consultaDeclaracionesTotales">
      <soap:operation soapAction="http://tempuri.org/consultaDeclaracionesTotales" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CalculaDeclaracionRenta">
      <soap:operation soapAction="http://tempuri.org/CalculaDeclaracionRenta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="AMDC_EMPRESASSoap12" type="tns:AMDC_EMPRESASSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="consultaDeclaracion">
      <soap12:operation soapAction="http://tempuri.org/consultaDeclaracion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="consultaDeclaracionesTotales">
      <soap12:operation soapAction="http://tempuri.org/consultaDeclaracionesTotales" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CalculaDeclaracionRenta">
      <soap12:operation soapAction="http://tempuri.org/CalculaDeclaracionRenta" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AMDC_EMPRESAS">
    <wsdl:port name="AMDC_EMPRESASSoap" binding="tns:AMDC_EMPRESASSoap">
      <soap:address location="http://localhost:50711/AMDC_EMPRESAS.asmx" />
    </wsdl:port>
    <wsdl:port name="AMDC_EMPRESASSoap12" binding="tns:AMDC_EMPRESASSoap12">
      <soap12:address location="http://localhost:50711/AMDC_EMPRESAS.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>